body {
    background-color: #141414;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-top: 0;
}

#icon-container {
    text-align: center;
    margin-bottom: 10px;
}

#netflix-icon {
    width: 50px;
    height: auto;
}

#header {
    background-color: #e50914;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#recommendationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#title {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #e50914;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f40612;
}

#recommendationsList {
    list-style: none;
    padding: 0;
}
